*{
    margin: 20ox;
    padding:0;
}
.loginContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/images/spidoImage.jpg);
    background-color: chartreuse;
    background-size: cover;
}

.logoContainer{
    position: relative;
    border-radius: 50%;
    height: 10%;
width: 5%;
background-color: rgb(150, 149, 149);
}
.logo{
    position: relative;
    height:100%;
    width: 100%;
}
.mainImage
{
    height: 100%;
    width:100%;
    
}
.formContainer{
    height: 100vh;
    width: 40vw;
    
    
}


.form{
    
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;

}
.form input{
    position: relative;
    height: 30px;
    width:300px;
    margin-top: 3%;
}
.btn{
    position: relative;
    
    /* margin-left:20%; */
    height: 40px;
    width: 70px;
    border-radius: 35%;
    background-color: #3c9dd5;
}

.form h1{
    color: #bd75b0;
    text-decoration: dotted;
    text-shadow: 5%;
}
.login{
    position: relative;
   margin-top: 4%;
   height: 40px;
   width: 80px;
   border-radius: 40%;
   margin-left: 35%;
}

.google-button{
    position: relative;
    margin-top: 7%;
    margin-left: 7%;
    
}

.another{
    position: relative;
color: white;
    margin-top: 7%;
    margin-left: 16%;
    
}
.ln{
    color: greenyellow;
}

